body, html {
      height: 100vh;
      font-family: sans-serif;
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.word {
     font-size: 3.5rem;
     text-align: center;
     margin: 0;
 }

.gw {
     font-size: 5.2rem;
 }

.textbox {
     border: 2px solid black;
     border-radius: 20px;
     height: 80px;
     width: 400px;
 }

.textbox::placeholder {
     font-size: 2.2rem;
 }

.stat-container {
     position: fixed;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
     display: none;
     justify-content: center;
     align-items: center;
     background-color: white;
 }

 .stat-container.active {
    display: flex;
 }

.stat-cont {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 40px;
 }

.stat {
     border: 2px solid black;
     padding: 20px;
     border-radius: 20px;
     display: flex;
     flex-direction: column;
     gap: 10px;
 }

 .timeup {
    font-size: 3rem;
    margin: 0;
 }

 .stat-label {
    margin: 0;
 }

 #replay {
     display: inline;
     padding: 10px 20px;
     background-color: black;
     border-radius: 20px;
     color: white;
     font-size: 1rem;
 }

 #replay:hover {
     cursor: pointer;
 }